<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://serviceaccount.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6cdd6a6d-0bc9-424b-b4ad-d9ff7598c1af/resourceGroups/AZ204/providers/Microsoft.Web/sites/ServiceAccount</ResourceId>
    <UserName>$ServiceAccount</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://serviceaccount.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>